
route[RTCP] {
	if ($hep(0x00f) != "" && $hep(0x00b) == 5) {

		$var(host) = $HN(n);
		$var(influxdbHost) = "host=" + $var(host);

		$var(isoTime)      = $timef(%Y-%m-%dT%H:%M:%S);
		$var(unixTimeGen)  = $TS - 60;
		$var(unixTimeMic)  = $TV(u);
		$var(unixTimeMil)  = $var(unixTimeMic)/1000;
		$var(elasticTime)  = $_s($var(isoTime).$var(unixTimeMil)Z);
		$var(graylogTime)  = $_s($var(unixTimeGen).$var(unixTimeMil));
		$var(influxdbTime) = $_s($var(unixTimeGen)$var(unixTimeMic));

		$var(stats_elastic)  = "";
		$var(stats_influxdb) = "";
		$var(type)     = "stats_rtcp";
		$var(RTCPHEAD) = $hep(0x00f);

		$var(rtcp_srcip)          = $hep(0x003);
		$var(rtcp_dstip)          = $hep(0x004);
		$var(rtcp_id)             = $hep(0x011);
		$var(rtcp_type)           = 0;
		$var(rtcp_packets)        = 0;
		$var(rtcp_fraction_lost)  = 0;
		$var(rtcp_jitter)         = 0;
		$var(rtcp_packets_lost)   = 0;
		$var(rtcp_delay)          = 0;

		jansson_get("type", $var(RTCPHEAD), "$var(rtcp_type)");
		jansson_get("sender_information.packets", $var(RTCPHEAD), "$var(rtcp_packets)");
		jansson_get("report_blocks[0].fraction_lost", $var(RTCPHEAD), "$var(rtcp_fraction_lost)");
		jansson_get("report_blocks[0].ia_jitter", $var(RTCPHEAD), "$var(rtcp_jitter)");
		jansson_get("report_blocks[0].packets_lost", $var(RTCPHEAD), "$var(rtcp_packets_lost)");
		jansson_get("report_blocks[0].dlsr", $var(RTCPHEAD), "$var(rtcp_delay)");

		if ($var(rtcp_jitter) < 200 && $var(rtcp_packets_lost) > 10000000 ) $var(rtcp_packets_lost) = 0;

		jansson_set("string",  "srcIP", "$var(rtcp_srcip)", "$var(tmp_json)");
		jansson_set("string",  "dstIP", "$var(rtcp_dstip)", "$var(tmp_json)");
		jansson_set("string",  "id", "$var(rtcp_id)", "$var(tmp_json)");
		jansson_set("integer", "type", "$var(rtcp_type)", "$var(tmp_json)");
		jansson_set("integer", "packets", "$var(rtcp_packets)", "$var(tmp_json)");
		jansson_set("integer", "fractionLost", "$var(rtcp_fraction_lost)", "$var(tmp_json)");
		jansson_set("integer", "jitter", "$var(rtcp_jitter)", "$var(tmp_json)");
		jansson_set("integer", "packetsLost", "$var(rtcp_packets_lost)", "$var(tmp_json)");
		jansson_set("integer", "delay", "$var(rtcp_delay)", "$var(tmp_json)");

		#!ifdef DO_ELASTICSEARCH
		jansson_set("string", "timestamp", "$var(elasticTime)", "$var(tmp_json)");
		$var(stats_elastic) = $var(stats_elastic) + " {\"index\": {\"_index\":\"homer-"+ $timef(%d.%m.%Y) +"\",\"_type\":\""+$var(type)+"\" }}\n";
		$var(stats_elastic) = $var(stats_elastic) + $var(tmp_json) + "\n";
		#!endif

		#!ifdef DO_GRAYLOG
		jansson_set("real", "timestamp", "$var(graylogTime)", "$var(tmp_json)");
		jansson_set("string", "short_message", "$var(type)", "$var(tmp_json)");
		$var(graylog_body) = $var(tmp_json);
		route(HTTP_POST);
		#!endif

		#!ifdef DO_INFLUXDB
		$var(stats_influxdb) = $_s($var(stats_influxdb)$var(type),$var(influxdbHost),type=$var(rtcp_type) );
		$var(stats_influxdb) = $_s($var(stats_influxdb)srcIP="$var(rtcp_srcip)",dstIP="$var(rtcp_dstip)",id="$var(rtcp_id)",packets=$var(rtcp_packets),fractionLost=$var(rtcp_fraction_lost),jitter=$var(rtcp_jitter),packetsLost=$var(rtcp_packets_lost),delay=$var(rtcp_delay) $var(influxdbTime)) + "\n";
		#!endif

		$var(tmp_json) = 0;
		$var(graylog_body) = "";

		$var(elasticsearch_body) = $var(stats_elastic);
		$var(influxdb_body) = $var(stats_influxdb);

		$var(bulk) = 1;
		route(HTTP_POST);
		$var(bulk) = 0;

	}
}